

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  width: 100%;
  
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: auto;
    width: 100%;
    margin-left: 5px;
    text-align: center;
}

.icon {
  font-size: 4rem;
}
.emojis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px ;
}
.emoji {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
 

}
.icon{
    order: -1;
 
}
.emoji a:link{
    margin-top: auto;
    width: 50%;
    margin-left : 0;    
    width:95%;
    text-align: left;

}



